@inherits LayoutComponentBase
@using OnlineCoursesPlatform.CLIENT.Services
@inject ILocalStorageService LocalStorageService
@inject NavigationManager Navigation

<div class="page">
    @if (IsCheckingAuthentication)
    {
        <p>Verificando autenticación...</p>
    }
    else
    {
        @if (IsAuthenticated && !IsPublicRoute())
        {
            <!-- Mostramos el NavMenu si el usuario está autenticado y no está en rutas públicas -->
            <div class="sidebar">
                <NavMenu />
            </div>
        }

        <main>
            <article class="content px-4">
                @Body
            </article>
        </main>
    }
</div>

@code {
    private bool IsAuthenticated = false;
    private bool IsCheckingAuthentication = true;

    protected override async Task OnInitializedAsync()
    {
        await CheckAuthenticationAsync();
    }

    private async Task CheckAuthenticationAsync()
    {
        var token = await LocalStorageService.GetTokenAsync("authToken");

        IsAuthenticated = !string.IsNullOrEmpty(token);
        IsCheckingAuthentication = false;

        Console.WriteLine($"Estado de autenticación: {IsAuthenticated}");
    }

    private bool IsPublicRoute()
    {
        var currentUri = Navigation.Uri.ToLower();
        return currentUri.Contains("/login") || currentUri.Contains("/register") || currentUri.Contains("/forgot-password");
    }
}