.forgot-password-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #fbfcf8;
}

.forgot-password-page-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}