@page "/forgot-password"
@using OnlineCoursesPlatform.CLIENT.Services
@using OnlineCoursesPlatform.DTO.RequestDTO
@inject IAuthService AuthService

@code {
    private string email = string.Empty;
    private string successMessage = string.Empty;
    private string errorMessage = string.Empty;

    private async Task HandleRequestOtp()
    {
        var requestOtpDTO = new RequestOtpDTO { Email = email };
        var response = await AuthService.RequestOtp(requestOtpDTO);
        if (response.IsSuccessStatusCode)
        {
            successMessage = "OTP sent to your email address. Please check your inbox.";
        }
        else
        {
            errorMessage = "Failed to send OTP. Please try again.";
        }
    }
}

<div class="forgot-password-page-container">
    <OnlineCoursesPlatform.CLIENT.Components.ForgotPasswordForm 
        OnSubmit="HandleRequestOtp" 
        Email="email" 
    />
</div>