.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fa;
}

.login-page__right {
    background-color: #007bff;
    padding: 40px;
    color: white;
}